@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@theme {
  --color-primary: #8cd0c6ef;
  --color-secondary: #000000;
  /* --color-primary: #d72027; */
  /* --color-secondary: #000000; */
  --font-nato: "Noto Sans", "sans-serif";
}

.nav-dropdown {
  @apply absolute left-0 mt-2 w-64 bg-white text-black rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out;
}
.nav-underline {
  @apply relative before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-0 before:bg-current before:transition-all before:duration-300 before:ease-in-out hover:before:w-full;
}
.sub-item {
  @apply hover:underline underline-offset-6 transition-all duration-500 ease-in-out;
}

.footer-underline {
  @apply relative before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:bg-current before:transition-all before:duration-300 before:ease-in-out hover:before:w-0;
}
.hero-active {
  @apply relative before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:bg-current before:transition-all before:duration-300 before:ease-in-out hover:before:w-full;
}